body {
  background: rgb(79, 79, 79) !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  width:100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  color:#6FE3E3 !important;
  margin-right: 4%;
}

strong{
  color:#6FE3E3 !important;
}

.main-content{
  margin-bottom: 1.5em;
  margin-Bottom: 0;
  margin-Top: 10em;
  font-size: 1.1em !important;
}

.copyright{
  margin-top: 2em;
}